.cont {
    margin-top: -35px;
    margin-bottom: 0px;
    font-family: sans-serif;
}

ol li {
    list-style-type: none;
    color: black;
    font-weight: bold;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40%;
    background-color: black;
    color: white;
    text-align: center;
}

but {
    background-color: skyblue;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin-left: 48%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
}

#marks {
    margin-left: 40%;
    border: 3px solid blue;
}

tt,
code,
kbd,
samp {
    font-family: sans-serif;
}

.result {
    display: none
}

form {
    margin-top: 100px;
    width: 100%;
    padding: 100px;
    margin: 40px auto;
    background-color: #f2eff7;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

.form input[type="button"],
.form input[type="submit"] {
    background-color: bluesky;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
    font-size: 15px;
}

.form input[type="button"]:hover,
.form input[type="submit"]:hover {
    background-color: #2A6881;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}

button {
    background-color: green;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.jumbotron {
    background-color: green;
}